[remote "origin"]
  url = git@github.com:jasteele/csci446-armada_skeleton.git
  fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
  remote = origin
  merge = refs/heads/master
[remote "staging"]
  url = git@heroku.com:young-waterfall-556.git
  fetch = +refs/heads/*:refs/remotes/heroku/*
[remote "production"]
  url = git@heroku.com:pure-ice-359.git
  fetch = +refs/heads/*:refs/remotes/heroku/*