- content_for :title do
  Edit Projectile
= image_tag @projectile.photo.url(:small)
= render :partial => 'form'

%p
  = link_to "Show", members_projectile_path(@projectile)
  |
  = link_to "View All", members_projectiles_path
