- content_for :title do
  Members Home


%h2 Member Home
#main
  %p This is the members interface for the armada projectiles application.
  %p This system allows members to manage the armada's projectiles by adding, updating, and deleting projectiles.
#sidebar
  %p sidebar
