- content_for :title do
  Administration Home


%h2 Administration Home
#main
  %p This is the administration interface for the armada projectile application.
  %p This system allows users to add, update, and delete the armada's projectiles.
#sidebar
  %p sidebar
